* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
}

.title {
    font-size: 2em;
    color: #ff4081;
    margin-bottom: 20px;
}

.message {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 30px;
}

.btn {
    background-color: #25d366; /* WhatsApp color */
    color: white;
    font-size: 1.1em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    background-color: #128c7e; /* Darker shade of WhatsApp green */
}
